.vscode/
ex00/BraiiiiiiinnnzzzZ
ex01/MoreBraiiiiiiinnnzzzZ
ex02/HiThisIsBrain
ex03/UnnecessaryViolence
ex04/SedIsForLosers
ex05/Harl2.0
ex06/HarlFilter
*.replace

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
